body {
    margin: 0;
}

.container {
    /* width: 700px; */
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editorbox {
    margin-top: 80px;
    margin-left: 20px;
    width: 700px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 10px;
}

.button {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 10px;
}

.button1 {
    width: 100px;
    background-color: rgb(131, 160, 161);
    color: rgb(32, 57, 69);
    border-radius: 7px;
    border: none;
    padding: 15px;
}

.button1:hover {
    width: 100px;
    background-color: #4c96af;
    color: white;
    border-radius: 7px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}