.editorbox {
    width: 700px;
    height: 500px;
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.button {
    width: 30px;
    height: 40px;
    margin-top: 3px;
    margin-left: 600px;
}

.button1 {
    width: 100px;
    height: 20px;
    background-color: rgb(131, 160, 161);
    color: rgb(32, 57, 69);
    border-radius: 2px;
    border: none;
}

.button1:hover {
    width: 100px;
    height: 20px;
    background-color: #4c96af;
    color: white;
    border-radius: 2px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}