    body {
        font-family: Arial;
        background: #eeeeee;
        margin: 0;
        padding-bottom: 100px;
    }
    /* Header/Blog Title */
    
    .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: rgb(146, 145, 145);
    }
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    
    .leftcolumn {
        float: left;
        width: 75%;
    }
    /* Right column */
    
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }
    /* Fake image */
    /* Add a card effect for articles */
    
    .card {
        width: 100%;
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        border-radius: 30px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Footer */
    
    .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
    }
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 800px) {
        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }
    
    .read-more {
        padding: 10px;
        background-color: #333;
        color: #eeeeee;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        text-decoration: none;
    }
    
    .read-more:hover {
        background-color: #eeeeee;
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }
    
    .button_container {
        display: flex;
        justify-content: space-between;
    }
    
    .delete {
        text-decoration: none;
        float: right;
        padding: 10px;
        background-color: #333;
        color: #eeeeee;
        border-radius: 10px;
        border: none;
    }
    
    .delete:hover {
        background-color: #eeeeee;
        color: #333;
    }
    
    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }