{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/home.css') }}"> {% endblock %} {% block content %}
<div class="row">
    <div class="leftcolumn">
        {% for post in db_posts %}
        <div class="card">
            <h2>{{ post.title }}</h2>
            <h5>{{ post.author }} - {{ post.created_date }} </h5>

            <p> {{ post.content | truncate(250) }}</p>
            <div class="button_container">
                <div class="buttons"> <button class="read-more">read more...</button></div>
                <a href="/delete/{{post.id}}" class="delete">delete</a></div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}